In [24]:
import sys
sys.path.append('..')
from utils.utils import read_jsonl

ruler = read_jsonl('../logs/llama/ruler_4k_test_samples/outputs.jsonl')
ruler_r = read_jsonl('/mnt/home/chaeyun-jang/gcsft/logs/ruler_4k_reasoning_test_samples/outputs.jsonl')

In [25]:
def check_acc(data, reasoning=False):
    tf = []
    for item in data:
        if reasoning:
            completions = item['completion'].split("<answer>")[-1].split(" ")
        else:
            completions = item['completion'].split(" ")
        references = set(item['reference'])
        if completions[0] in references:
            tf.append(1)
        else:
            tf.append(0)
    correct = sum(tf) / len(data)
    return correct, tf

ruler_acc, ruler_tf = check_acc(ruler)
ruler_r_acc, ruler_r_tf = check_acc(ruler_r, reasoning=True)

print(f'Ruler 4k Test Samples Accuracy: {ruler_acc:.2%}')
print(f'Ruler 4k Reasoning Test Samples Accuracy: {ruler_r_acc:.2%}')

Ruler 4k Test Samples Accuracy: 48.62%
Ruler 4k Reasoning Test Samples Accuracy: 40.92%

In [26]:
import pandas as pd
ruler_df = pd.DataFrame({
    'prediction': [item['completion'] for item in ruler],
    'reference': [item['reference'] for item in ruler],
    'ruler_tf': ruler_tf,
})
ruler_r_df = pd.DataFrame({
    'prediction': [item['completion'] for item in ruler_r],
    'reference': [item['reference'] for item in ruler_r],
    'ruler_r_tf': ruler_r_tf,
})

In [27]:
idxs = [i if ruler_df['ruler_tf'][i] == 1 and ruler_r_df['ruler_r_tf'][i] == 0 else None for i in range(len(ruler_df))]

In [28]:
set(idxs)

{103,
 118,
 171,
 182,
 201,
 202,
 203,
 207,
 208,
 209,
 211,
 215,
 218,
 221,
 222,
 223,
 225,
 227,
 228,
 231,
 234,
 235,
 237,
 238,
 239,
 242,
 243,
 244,
 246,
 248,
 249,
 272,
 353,
 357,
 360,
 373,
 376,
 377,
 379,
 380,
 390,
 391,
 396,
 400,
 402,
 422,
 427,
 432,
 433,
 437,
 440,
 446,
 447,
 449,
 506,
 559,
 58,
 580,
 601,
 603,
 604,
 609,
 610,
 611,
 612,
 614,
 618,
 619,
 620,
 625,
 627,
 633,
 635,
 638,
 642,
 643,
 645,
 648,
 649,
 68,
 81,
 89,
 None}

In [17]:
print(ruler_df['prediction'][649])
print("=")
print(ruler_r_df['prediction'][649])

GGHOO FCIMM XSVCQ IWLYD
=

The text contains 8 occurrences of the variable GGHOO with the value 56717.
From the variable assignment pattern observed in the text, it can be determined that the variable GGHOO is assigned the value 56717 at the beginning of each iteration of the loop, starting from the first occurrence of GGHOO = 56717.
Therefore, the variables that are assigned the value 56717 are: GGHOO, FCIMM, XSVCQ, IWLYD. </think>
<answer>GHGOO FCIMM XSVCQ IWLYD

In [8]:
ruler_r_df

,prediction,reference,ruler_r_tf
0,"First, I need to analyze the given list of wor...","[mustache, join, rehabilitate, pasture, gray, ...",0
1,"First, I need to analyze the given list of wor...","[browser, private, clothing, popcorn, hemisphe...",0
2,"First, we need to analyze the given lists of w...","[game, soothe, manicure, misty, comma, psychol...",0
3,"First, we need to count the frequency of each ...","[cornerstone, toothsome, guitarist, frustratio...",0
4,"First, I will count the occurrences of each wo...","[penalty, lamp, goodbye, cephalopod, barbecue,...",0
...,...,...,...
645,\nWe can see that there is no explicit assign...,"[CMGWB, QPDYE, OANUY, VMFFY, VGTJL]",1
646,\nThe text contains two blocks of variables b...,"[STTIX, NKBJL, NVMNV, XLJRS, ZWEWC]",0
647,\nThe given text consists of multiple iterati...,"[YXRXK, VVGON, DRPUN, MCPUI, VTUTY]",0
648,\nThe given text is a repetitive sequence of ...,"[SBKFU, SJUMF, AJQOU, YMIWF, VEYPH]",0
649,\nThe text contains 8 occurrences of the vari...,"[GGHOO, FCIMM, XSVCQ, AVJUX, IWLYD]",0

In [12]:
math = read_jsonl('/mnt/home/chaeyun-jang/gcsft/math_seed_samples/outputs_seed_0.jsonl')

In [16]:
print(math[0]['completion'])

First, let's start by calculating the exponentiation $9^3$. This means $9$ multiplied by itself $3$ times, so $9^3 = 9 \times 9 \times 9 = 729$.</think>

<think>Next, we need to calculate $3(9^2)$. $9^2$ means $9$ multiplied by itself, so $9^2 = 81$. Now, multiply $81$ by $3$, giving us $243$.</think>

<think>Now we have the values of $9^3$ and $3(9^2)$. The next term is $3(9)$. This means $3$ multiplied by $9$, giving us $27$.</think>

<think>The final term is $1$. No calculation is required here.</think>

<think>Now we can sum the terms $729 + 243 + 27 + 1$ to find the value of the given expression.</think>

<answer>1000